body{
    background-color: white;
}


#MenuPrincipal{
    margin-left: 18em;
    margin-top: 14em;
    display: none;
}

.Inlogin{
    animation: move  800ms;
}
#TelaEntrada{
   
    background-color: rgb(185, 184, 184);
    width: 50em;
    height: 30em;
    border-radius: 10px;
    box-shadow: 3px 3px 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    margin-bottom: auto;
    display: flex;


}
/*Começo da tela de login*/
#CampLogin{
   
    margin-left: 4rem;
    margin-top: 10rem;
    display: block; 
    
}

.telaLogin h1{

    font-size: 32px;
    margin-top: 27px;
    margin-left: 148px;
    position: fixed;
}


.telaLogin{
    
    animation-name: inite;
    animation-duration: 500ms;

}
.telaLoginSaida{
    animation: saida1 500ms forwards;  
}

.NomeTr{
 
    font-family: 'Consolas', Courier, monospace;

}



.label-Login{
    
    position: relative;
    padding-top: 13px;
}

.label-Login label{
    font-style: unset;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
}

.label-Login input{

    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    -webkit-appearance: none;
    border-radius: 0;
}



#CampNomeLogin:hover{
    
    border-color: red;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}


#CampNomeLogin:focus{
    
    transition: 1s;
    outline: none;
    border-color: blue;
    box-shadow: 0 0 10px rgb(13, 30, 185);
}

#CampSenhaLogin:hover{
    
    border-color: red;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    
}

#CampSenhaLogin:focus{

    transition: 1s;
    outline: none;
    border-color: blue;
    box-shadow: 0 0 10px rgb(6, 81, 219);
}

#CampNomeLogin{
    
    cursor: default;
    border-radius: 5px;
}

#CampSenhaLogin{
    cursor: default;
    border-radius: 5px;
}

.Login-New{
    display: none;
}
.Login-New h1{

    font-size: 23px;
    display: block;
    position: absolute;
    margin-top: 6rem;
    margin-left: 3em;

}

.cadSaida{

    animation: saida2 500ms forwards;

    
}

h1{

    display: block;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#h1-Cadastro{

    display: flex;
    margin-top: 47px;
    margin-left: 70px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#BtnEntrar2{

    display: flex;
    width: 100px;
    height: 40px;
    margin-top: 68px;
    margin-left: 6rem;
    outline: none;
    border: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

#BtnEntrar{

    display: flex;
    width: 100px;
    height: 40px;
    margin-top: 80px;
    margin-left: 6rem;
    outline: none;
    border: 0;
    font-size: 21px;
    align-items: center;
    display: flex;
    justify-content: center;
}

button{
    border: 0;
    outline: 0;
    border-radius: 5px;
}

button:hover{

    cursor: pointer;
    transition: .3s;
    box-shadow:  0 0  10px red;

}
button:focus{

    transition: .3s;
    box-shadow:  0 0  10px blue;

}

#CampSenhaCadastroConfirm{

    margin-left: 65px;
}

/*Começo da tela cadastro*/

#CampCadastro{
    
    margin-left: 13rem;
    margin-top: 9.1rem;
    display: none; 
    
}

.EntradaInCad{
    display: none;
    animation: inite2 500ms;
}
.EntradaInLogin{
    display: none;
    animation: inite 500ms;
}


.Cadastro-New{

    animation: inite2 500ms;
   
    

}

.telacompra-show{
    animation: show 500ms;
    
}

.telaCadastro{
    size: 40px;
    margin-left: auto;
    display: flex;
    /* position: relative; */
    background-color: blue;
    width: 389px;
    border-radius: 10px;
}
.label-Cadastro label{
    font-style: unset;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
}

.label-Cadastro input{
    border-bottom: 5em;
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    -webkit-appearance: none;
    border-radius: 0;
}


.label-Cadastro input{ 
    cursor: default;
    border-radius: 5px;
}




.label-Cadastro input:hover{
    
    border-color: red;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.label-Cadastro input:focus{
    
    transition: .3s;
    outline: none;
    border-color: green;
    box-shadow: 0 0 10px rgb(6, 81, 219);

}
#BtnCadastro:hover{
    border-color: red;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}
#BtnCadastro:focus{
    transition: .3s;
    outline: none;
    border-color: green;
    box-shadow: 0 0 10px rgb(6, 252, 178);
}

#BtnLoginCad{
    
    margin-right: 0em;
    margin-left: 143px;
    position: relative;
    margin-top: 15em;
    width: 95px;
    height: 43px;
    outline: 0;
    padding: 0;
    border: 0;
    font-size: 20px;

}


.animacao-Cadastro{
    animation: moveleft 800ms forwards;
    animation-delay: 300ms;
}   

#BtnCadastro{
    
    width: 200px;
    height: 40px;
    margin-top: 175px;
    margin-left: 6rem;
    outline: none;
    border: 0;
    font-size: 21px;
    align-items: center;
    display: flex;
    justify-content: center;
}
/*Fim da tela cadastro*/



/* Animações */


@keyframes inite{
    from{
        opacity: 0;
        transform: translateX(-35%);

    }to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes inite2{
    from{
        opacity: 0;
        transform: translateX(47%);

    }to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes saida1{
    from{
        opacity: 1;
        transform: translateX(0%);

    }to{
        opacity: 0;
        transform: translateX(-35%);
    }
} 

@keyframes saida2{
    from{
        opacity: 1;
        transform: translateX(0);

    }to{
        opacity: 0;
        transform: translateX(47px);
    }
} 

/*Animações do site */

@keyframes down {

    from{
        opacity: 1;
        transform: translateY(0%);
    }to{
        opacity: 0;
        transform: translateY(100%);
    }
    
}

@keyframes move {
    from{
        opacity: 0;
        transform: scale(0.9);
    }to{
        opacity: 1;
        transform: scale(1);
       
    }
    
}
@keyframes moveleft {
    from{
        transform: translateX(0%);
    }to{

        transform: translateX(-106%);
       
    }
    
}



@keyframes show {
    
    from{
        opacity: 0;
        transform: rotateY(-34%);
    }to{
        opacity: 1;
        transform: rotateY(0%);
 
    }
}
@keyframes show2 {
    
    from{
        opacity: 0;
        transform: rotateY(-34%);
    }to{
        opacity: 1;
        transform: rotateY(0%);
 
    }
}
@keyframes escala{
    from{
        transform: scale(1);

    }to{
        transform: scale(1.1);

    }
}


/*Pra baixo é mundo novo, tbm n sei*/
.tela-hide{

    animation: down 500ms forwards;


}
.telanovoPrincipal{

    animation: show2 500ms ;
    /* display: flex; */
}
.telaMain-show{
        animation: show 500ms forwards;
        display: flex;
}

.tela-princ-hide{
    
    animation: down 500ms forwards;
}

.telaCompraHide{

    animation: down 500ms backwards;
    /* display: flex; */

}

.Pet  div:hover{

    transition: 1s;
    box-shadow: 10px 10px 10px blue;
    animation: escala 500ms;
    animation-fill-mode: forwards;

}
.fundoImagem{

    width: 234px;
    height: 252px;
    background-color: gray;
    box-shadow: 3px 4px 10px black;
    border-radius: 5px;
    padding: 0px;
    margin-left: 69px;
    cursor: pointer;
    
}

.labelPet{

    margin-left: 6px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    margin-top: 4px;
    align-content: center;
    text-align: center;
    justify-items: center;
}
img{

    border-radius: 4px;
    margin-top: 9px;
    width: 200px;
    height: 200px;
    margin-left: 17px;
}




/* Página de compras do site */

.AreaCompra{
    margin-top: 180px;
    margin-left: 30em;
    display: none;
}

.Select-Compras{
    margin-top: 40px;
}

#CategoriaID{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 47px;
    font-size: 28px;
}
#CategoriaID select{

   width: 134px;
    font-size: 23px;
}

#IdadeID{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    font-size: 28px;
}

#IdadeID select{
    width: 134px;
    font-size: 23px;
}

#RacaId{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 54px;
    font-size: 28px;

}

#RacaId select{
    width: 154px;
    font-size: 23px;
}


#CampValor{

    width: 134px;
    font-size: 23px;
}

#PanelShadow{
    animation: move 500ms;
    border-radius: 10px;
    height: 360px;
    width: 390px;
    box-shadow: 9px 11px 15px black;
    margin-left: 111px;
}

#BtnComprar{
    border: 0;
    border-radius: 5px;
    font-size: 25px;
    background-color: rgb(7, 167, 119);
   
    /* box-shadow: 3px 6px 6px black; */
}
#BtnVoltar{
    border: 0;
    border-radius: 5px;
    font-size: 25px;
    background-color: rgb(7, 167, 119);
    /* box-shadow: 3px 6px 6px black; */
}
.Botoes-Compra{
    
    
    margin-top: 81px;
    font-size: 33px;
    margin-left: 99px;
    font-family: Arial, Helvetica, sans-serif;
    
}

